.metalation_calculator #metalation_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.metalation_calculator #metalation_table td, .metalation_calculator #metalation_table th {
  text-align: right;
  padding: 2px 5px;
  vertical-align: top;
  border: 0;
}
.metalation_calculator #metalation_table input[type=number] {
  text-align: right;
  width: 100%;
  border-width: 1px;
}
.metalation_calculator #metalation_table .error_msg {
  color: red;
  font-size: smaller;
}
.metalation_calculator .footnote {
  font-size: smaller;
  margin: 10px 0;
}
.metalation_calculator .footnote a {
  font-weight: bold;
}