#metalation_table td, #metalation_table th {
  text-align: right;
  padding: 2px 5px;
  vertical-align: top;
}
#metalation_table input[type=number] {
  text-align: right;
  width: 100%;
  border-width: 1px;
}
#metalation_table .error_msg {
  color: red;
  font-size: smaller;
}