.metalation_calculator {
  #metalation_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    td, th {
      text-align: center;
      padding: 2px 5px;
      border: 0;
      justify-content: center;
    }
    input[type=number] {
      text-align: right;
      width: 100%;
      border-width: 1px;
      /* hide number up/down arrows in Firefox */
      -moz-appearance: textfield;
    }
    /* Hide number up/down arrows in Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .error_msg {
      color: red;
      font-size: smaller;
    }
  }

  .footnote {
    font-size: smaller;
    margin: 10px 0;

    a {
      font-weight: bold;
    }
  }
}
