
  $light_blue: rgb(136, 206, 222);
  $medium_gray: rgb(237, 237, 237);
  $dark_gray: rgb(96, 96, 96);
  $white: rgb(255, 255, 255);
  $low_opacity_gray: rgb(96, 96, 96, 0.1);

.metalation_calculator {
  #metalation_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    td, th {
      text-align: center;
      padding: 2px 5px;
      border: 0;
      justify-content: center;
    }
    thead, tfoot {
      background-color: $light_blue;
      padding: 1.2%
    }
    td, .result {
      text-align: right;
      padding-right: 20px;
    }
    tr:nth-child(even) {
      background-color: $medium_gray;
    }

    .grouped {
      background-color: $low_opacity_gray;
    }

    /* Tooltip text */
    .tooltip{
      position: relative;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: $dark_gray;
      color: $white;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      display: block;
      bottom: 100%;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $dark_gray transparent transparent transparent;
    }

    input[type=number] {
      text-align: right;
      width: 100%;
      border-width: 1px;
      /* hide number up/down arrows in Firefox */
      -moz-appearance: textfield;
    }
    /* Hide number up/down arrows in Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .error_msg {
      color: red;
      font-size: smaller;
    }
  }

  #download_btn, #reset_btn {
    display: inline;
    float: right;
    margin-right: 2px;
  }

  .footnote {
    font-size: smaller;
    margin: 70px 0;

    a {
      font-weight: bold;
    }
  }
}
