.metalation_calculator #metalation_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  margin: 20px 0;
  border-spacing: 0;
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
  /* Hide number up/down arrows in Chrome, Safari, Edge, Opera */
}
.metalation_calculator #metalation_table td, .metalation_calculator #metalation_table th {
  text-align: center;
  padding: 2px 5px;
  border: 0;
  justify-content: center;
}
.metalation_calculator #metalation_table thead, .metalation_calculator #metalation_table tfoot {
  background-color: #88cede;
  padding: 1.2%;
}
.metalation_calculator #metalation_table td, .metalation_calculator #metalation_table .result {
  text-align: right;
  padding-right: 20px;
}
.metalation_calculator #metalation_table tr:nth-child(even) {
  background-color: #ededed;
}
.metalation_calculator #metalation_table .grouped {
  background-color: rgba(96, 96, 96, 0.1);
}
.metalation_calculator #metalation_table .tooltip {
  position: relative;
}
.metalation_calculator #metalation_table .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #606060;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 100%;
}
.metalation_calculator #metalation_table .tooltip:hover .tooltiptext {
  visibility: visible;
}
.metalation_calculator #metalation_table .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #606060 transparent transparent transparent;
}
.metalation_calculator #metalation_table .right_spacing_odd {
  border-right: 15px solid white;
}
.metalation_calculator #metalation_table .right_spacing_even {
  border-right: 15px solid #ededed;
}
.metalation_calculator #metalation_table input[type=number] {
  text-align: right;
  width: 100%;
  border-width: 1px;
  /* hide number up/down arrows in Firefox */
  -moz-appearance: textfield;
}
.metalation_calculator #metalation_table input::-webkit-outer-spin-button,
.metalation_calculator #metalation_table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.metalation_calculator #metalation_table .error_msg {
  color: red;
  font-size: smaller;
}
.metalation_calculator #download_btn, .metalation_calculator #reset_btn {
  display: inline;
  float: right;
  margin-right: 2px;
}
.metalation_calculator .footnote {
  font-size: smaller;
  margin: 70px 0;
}
.metalation_calculator .footnote a {
  font-weight: bold;
}