.metalation-calculator #metalation-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  margin: 20px 0;
  border-spacing: 0;
  /* Hide number up/down arrows in Chrome, Safari, Edge, Opera */
}
.metalation-calculator #metalation-table td, .metalation-calculator #metalation-table th {
  padding: 2px 5px;
  border: 0;
  justify-content: center;
}
.metalation-calculator #metalation-table th {
  text-align: center;
}
.metalation-calculator #metalation-table td, .metalation-calculator #metalation-table .result {
  text-align: right;
  padding-right: 20px;
}
.metalation-calculator #metalation-table thead, .metalation-calculator #metalation-table tfoot {
  background-color: #88cede;
  padding: 1.2%;
}
.metalation-calculator #metalation-table sup {
  white-space: nowrap;
}
.metalation-calculator #metalation-table tbody .grouped {
  background-color: rgba(96, 96, 96, 0.2);
}
.metalation-calculator #metalation-table tbody tr:nth-child(odd) {
  background-color: white;
}
.metalation-calculator #metalation-table tbody tr:nth-child(odd) td.right-spacing {
  border-right: 15px solid white;
}
.metalation-calculator #metalation-table tbody tr:nth-child(even) {
  background-color: #ededed;
}
.metalation-calculator #metalation-table tbody tr:nth-child(even) td.right-spacing {
  border-right: 15px solid #ededed;
}
.metalation-calculator #metalation-table .tooltip {
  position: relative;
  padding: 1.115%;
}
.metalation-calculator #metalation-table .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #606060;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  display: block;
  bottom: 100%;
}
.metalation-calculator #metalation-table .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #606060 transparent transparent transparent;
}
.metalation-calculator #metalation-table .tooltip:hover .tooltiptext {
  visibility: visible;
}
.metalation-calculator #metalation-table #total-metalation {
  padding: 18px;
}
.metalation-calculator #metalation-table input[type=number] {
  text-align: right;
  width: 100%;
  border-width: 1px;
  /* hide number up/down arrows in Firefox */
  -moz-appearance: textfield;
}
.metalation-calculator #metalation-table input::-webkit-outer-spin-button,
.metalation-calculator #metalation-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.metalation-calculator #metalation-table .error-msg {
  color: red;
  font-size: smaller;
}
.metalation-calculator #download_btn, .metalation-calculator #reset_btn {
  display: inline;
  float: right;
  margin-right: 2px;
}
.metalation-calculator .footnote {
  font-size: smaller;
  margin: 70px 0;
}
.metalation-calculator .footnote a {
  font-weight: bold;
}