.metalation_calculator {
  #metalation_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    td, th {
      text-align: right;
      padding: 2px 5px;
      vertical-align: top;
      border: 0;
    }
    input[type=number] {
      text-align: right;
      width: 100%;
      border-width: 1px;
    }
    .error_msg {
      color: red;
      font-size: smaller;
    }
  }

  .footnote {
    font-size: smaller;
    margin: 10px 0;

    a {
      font-weight: bold;
    }
  }
}
